body{
    text-align: center;
    background: tan;
    font-family: 'Staatliches', cursive;
}
.header_div img{
 width: 100px;
 margin-left: 20px;
 border-radius: 50%;
}
.header_div{
    background-color: tomato;
    color: darkred;
}
.main_div{
    background:linear-gradient(#70CDA6 0%,#4C070E 100%);
    padding:15px;
    margin-top: 20px;
    border: groove 10px lightgoldenrodyellow;
}
.main_div h2{
    background-color: white;
    width:300px;
    padding: 10px;
    box-shadow:5px 10px 15px limegreen;
}
#camera{
    width: 300px;
    height: 300px;
    border: ridge;
}
#capture_image{
    font-size: 20px;
    width: 140px;
    margin-top: 20px;
    box-shadow:2px 10px 15px slateblue;
}